
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIC</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/admin/start/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/admin/start/assets/css/app.css">
    <script src="/admin/start/assets/js/jquery.min.js"></script>
</head>

<body data-type="index">
    <script src="/admin/start/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="/admin/start/assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                    </span>
                </div>

                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>1037838286@qq.com</span> </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="/admin/src/views/logout.html">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="/admin/start/assets/img/user.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                        1037838286@qq.com
                    </span>
                    <a href="/admin/src/views/info.html" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 资料完善</a>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">

                <li class="sidebar-nav-link">
                    <a href="/admin/src/views/index.html" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/src/views/info.html">
                        <i class="am-icon-user sidebar-nav-link-logo"></i> 资料完善
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/src/views/mygroup.html">
                        <i class="am-icon-group sidebar-nav-link-logo"></i> 我的团队
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/src/views/group.html">
                        <i class="am-icon-globe sidebar-nav-link-logo"></i> 二维码
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/src/views/withdraw.html">
                        <i class="am-icon-clone sidebar-nav-link-logo"></i> 提币
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/src/views/log.html">
                        <i class="am-icon-credit-card-alt sidebar-nav-link-logo"></i> 财务记录
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/start/index.html">
                        <i class="am-icon-undo sidebar-nav-link-logo"></i> 退出登录
                    </a>
                </li>

            </ul>
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 首页 </div>
                        <p class="page-header-description">欢迎来到AIC人工智能链，推荐好友得奖励！</p>
                    </div>

                </div>

            </div>

            <div class="row-content am-cf">
                <div class="row  am-cf">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="widget widget-primary am-cf">
                            <div class="widget-statistic-header">
                                我的余额
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    AIC 0.0000 ≈ $ 0
                                </div>
                                <!--
                                <div class="widget-statistic-description">
                                    达到<strong>1000</strong> AIC 可提现
                                </div>-->
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="widget widget-purple am-cf">
                            <div class="widget-statistic-header">
                                糖果奖励即将到来
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    0
                                </div>
                                <div class="widget-statistic-description">

                                </div>
                                <span class="widget-statistic-icon am-icon-support"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="/admin/start/assets/js/amazeui.min.js"></script>
    <script src="/admin/start/assets/js/app.js"></script>

</body>

</html>